$base-font-family: 'MontserratRegular';
$base-font-bold: 'MontserratBold';
$base-font-italic: 'MontserratItalic';
$base-jp-font: 'YuGothicBold';
$base-jp-font-reg: 'YuGothic';

$base-font-size: 20px;

$color-text-primary: #000000;
$color-text-secondary: #ffffff;


$site-width: 1120 + 30;